.index {
	height: 100%;
	display: grid;
	grid-row-gap: 8px;
	grid-column-gap: 8px;
	box-sizing: border-box;
	padding: 521rpx 30rpx 123rpx;
	grid-template-rows: 25% 25% 25% 25%;
	grid-template-columns: 341rpx 341rpx;
	.top, .title, .card{
		@include flex();
		top: 0;
		left: 0;
		width: 100%;
		height: 321rpx;
		position: fixed;
		overflow: hidden;
		border-bottom-right-radius: 350rpx 30rpx;
		border-bottom-left-radius: 350rpx 30rpx;
		.top-item {
			flex: 1;
			height: 100%;
		}
	}
	.title {
		@include flex();
		top: 0;
		z-index: 1;
		left: 30rpx;
		color: #FFFFFF;
		height: 206rpx;
		font-size: 42rpx;
		justify-content: flex-start;
		text-shadow: 3rpx 3rpx $theme-color;
	}
	
	.card {
		padding: 25rpx;
		background: #FDFDFD;
		border-radius: 16rpx;
		@include flex(column);
		box-sizing: border-box;
		box-shadow: 0rpx 1rpx #AAAAAA;
		@include abs(180rpx, 30rpx, 690rpx, 234rpx);
		.card-top, .card-bot {
			@include flex();
			flex: 1;
			width: 100%;
			justify-content: flex-start;
			&.card-bot {
				@include flex();
				overflow: hidden;
				justify-content: flex-start;
				.index-roll {
					width: auto;
					font-size: 64rpx;
					white-space: nowrap;
					animation: right-left infinite linear 6s;
				}
			}
			.avatar {
				width: 88rpx;
				height: 88rpx;
				overflow: hidden;
				border-radius: 50%;
			}
			.nickname {
				flex: 1;
				margin: 0 23rpx;
				font-size: 32rpx;
			}
			.city, .province {
				font-size: 36rpx;
				margin-left: 36rpx;
			}
		}
	}
	
	.unicloud {
		@include abs(425rpx, 30rpx, 690rpx, 88rpx);
		letter-spacing: 4rpx;
		border-radius: 8rpx;
		font-weight: bold;
		font-size: 32rpx;
		@include flex();
	}
	
	.item {
		@include flex();
		overflow: hidden;
		position: relative;
		border-radius: 16rpx;
		&.item0 { animation: move 68s infinite; }
		&.item1 { animation: move 36s infinite alternate; }
		&.item2 { animation: move 46s infinite; }
		&.item3 { animation: move 24s infinite alternate; }
		&.item4 { animation: move 90s infinite alternate; }
		&.item5 { animation: move 60s infinite; }
		&.item6 { animation: move 48s infinite alternate; }
		&.item7 { animation: move 99s infinite; }
		&.rotate {
			animation: rotate 2s infinite;
		}
		.icon {
			top: 16rpx;
			left: 16rpx;
			opacity: .6;
			font-size: 180rpx;
			position: absolute;
		}
		.english {
			top: 56rpx;
			right: 16rpx;
			font-size: 34rpx;
			position: absolute;
			letter-spacing: 3.6rpx;
		}
		.name {
			right: 16rpx;
			bottom: 16rpx;
			position: absolute;
			text {
				font-size: 45rpx;
				margin-left: 8rpx;
			}
		}
	}
	.about {
		@include flex();
		left: 0;
		bottom: 0;
		width: 100%;
		height: 88rpx;
		position: fixed;
		text {
			font-size: 42rpx;
		}
	}
}
@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(2160deg); }
}
@keyframes move {
	0% { transform: translate(0, 0); }
	10% { transform: translate(-8rpx, 0); }
	20% { transform: translate(-8rpx, -8rpx); }
	30% { transform: translate(-8rpx, 0); }
	40% { transform: translate(-8rpx, 8rpx); }
	50% { transform: translate(8rpx, 0); }
	60% { transform: translate(8rpx, 8rpx); }
	70% { transform: translate(0, 8rpx); }
	80% { transform: translate(-8rpx, 8rpx); }
	90% { transform: translate(-8rpx, 0rpx); }
	100% { transform: translate(0, 0); }
}
@keyframes right-left {
	0% {
		transform: translateX(640rpx);
	}
	100% {
		transform: translateX(-100%);
	}
}