$bg-color: #F8F8F8;
$font-color: #333333;
$theme-color: #007AFF;
$app-nav-height: 159rpx;

@mixin flex($c: row) { // flex布局
	display: flex;
	align-items: center;
	flex-direction: $c;
	justify-content: center;
}

@mixin page { // 页面布局
	height: 100%;
	box-sizing: border-box;
	flex-direction: column;
	background: $bg-color;
	border-top: $app-nav-height solid #FFFFFF;
	.content {
		flex: 1;
		height: 100%;
		padding: 24rpx;
		position: relative;
		background: #FFFFFF;
		box-sizing: border-box;
	}
}

.nav-bar {
	width: 100%;
	height: 88rpx;
	position: relative;
	margin-bottom: 4rpx;
	border-bottom: 1rpx solid #F1F1F1;
	.nav-bar-items {
		@include flex();
		height: 100%;
		.nav-bar-item {
			@include flex();
			flex: 1;
			height: 100%;
			font-size: 32rpx;
			&.active {
				color: #FF0000;
				font-size: 36rpx;
			}
		}
	}
	.nav-bar-drog {
		@include flex();
		left: 0rpx;
		bottom: 0rpx;
		height: 8rpx;
		width: 150rpx;
		position: absolute;
		text {
			height: 100%;
			width: 72rpx;
			border-radius: 8rpx;
			background: #FF0000;
		}
	}
}
.nav-view {
	flex: 1;
	width: 100%;
	swiper {
		width: 100%;
		height: 100%;
	}
}

.t {
	@include flex();
	font-size: 44rpx;
	line-height: 88rpx;
	text-align: center;
}
.p {
	text-indent: 2em;
	font-size: 32rpx;
	line-height: 54rpx;
}

.theme-color {
	color: $theme-color;
}

.bold {
	font-weight: bold;
}

.url {
	margin: 8rpx 0;
	font-size: 24rpx;
}

.ellipsis { // 文字溢出打点换行
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

rich-text {
	margin: 8rpx 0;
}