$bg-color: #F8F8F8;
$font-color: #333333;
$theme-color: #007AFF;
$app-nav-height: 159rpx;

@mixin flex($c: row) { // flex布局
	display: flex;
	align-items: center;
	flex-direction: $c;
	justify-content: center;
}

@mixin page { // 页面布局
	height: 100%;
	box-sizing: border-box;
	flex-direction: column;
	background: $bg-color;
	border-top: $app-nav-height solid #FFFFFF;
	.content {
		flex: 1;
		height: 100%;
		position: relative;
		box-sizing: border-box;
	}
}

.theme-color {
	color: $theme-color;
}

.bold {
	font-weight: bold;
}

.ellipsis { // 文字溢出打点换行
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}