$bg-color: #F2F2F2;
$font-color: #333333;
$theme-color: #007AFF;
$app-nav-height: 159rpx;

@mixin flex($c: row) {
	display: flex;
	align-items: center;
	flex-direction: $c;
	justify-content: center;
}

@mixin page {
	height: 100%;
	box-sizing: border-box;
	flex-direction: column;
	background: $bg-color;
	border-top: $app-nav-height solid #FFFFFF;
	.content {
		flex: 1;
		height: 100%;
		position: relative;
		box-sizing: border-box;
	}
}

.ellipsis { // 文字溢出打点换行
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}